.app-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    gap: 10px;
    background: #007298;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border:1.5px solid transparent;
    

    &:hover {
        background: #016486;
    }

    &:active {
        border-color: #44c08a;
    }

    &__single-icon {
        color: #007298;
        font-size: 2em;
        
        border-bottom:3px solid transparent
        
    }

    &__single-icon:hover {
        border-bottom:3px solid #016486  
    }


}


