@import 'src/app/shared/styles/styles';

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.form__footer{
  font-size: 15px;

  #loginText{
    font-weight: 600;
  }

  #loginText:hover{
    cursor:pointer;
    border-bottom: 1px solid black;
  }
}
