<app-header class="app-header">
  <ng-container *ngIf="isLoggedIn">
    <p>{{userName}}</p>
    <app-button [buttonText]="buttonLogout"   routerLink="" (click)="logout()"></app-button>
  </ng-container>
  <app-button [buttonText]="buttonLogin" *ngIf="!isLoggedIn" routerLink="/login" ></app-button>
</app-header>
<div class="app-root">
  <!-- Search component -->


  <!-- Info component -->
 <app-info 
  [title]="infoTitle" 
  [text]="infoCurrentText"
  >
    <app-button 
    [buttonText]="buttonInfo" routerLink="courses/add">
  </app-button>
  </app-info>

  <!-- Course Card component -->

     <!--<app-courses></app-courses>-->

  <!--Login Form component -->
   <!-- <app-login-form></app-login-form> -->
   <router-outlet></router-outlet>
  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
   <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
