@import 'src/app/shared/styles/styles';

.course {
 min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.authors_single-icon{
  margin-left: 0.2em;
  background-color: inherit;
  border: none;
  cursor:pointer;
  border-radius: 2px;
}

.authors_single-icon:hover{
  border-radius: 0px;
  border-bottom:1px solid black;
}

.authors_single-icon:active{
  border-radius: 5px;
  background-color: gray;
}


